<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BudgetPlanner</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi home" aria-hidden="true" /> Start
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="budgetCalculator">
                <span class="bi calculator" aria-hidden="true" /> Finanzplanner
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="OdoCalculator">
                <span class="bi car" aria-hidden="true" /> Kilometerrechner
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi plus" aria-hidden="true" /> Zähler
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi sun" aria-hidden="true" /> Wetter
            </NavLink>
        </div>
    </nav>
</div>

@code {

}