<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BudgetPlanner.Properties.Settings.ConnectionString"
            connectionString="Server=138.199.206.10;Database=Planner_DEV;User Id=lagosadmin;Password=lagos!Adm1n;" />
    </connectionStrings>
</configuration>